<ul class="nav justify-content-center  ">
    <li class="nav-item">
        <a class="nav-link active btn btn-primary" aria-current="page" href="/">Home</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/addproduct">AddProducts</a>
        
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/getproducts">Products</a>
    
    </li>
    
</ul>